body {
    font-family: Montserrat, sans-serif;
    background-color: rgba(80, 221, 185, 0.3);
}

#page_div {
    margin: 1rem;
    padding: 2rem;
}

#web_app_title {
    width: 80%;
    margin: auto;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
}

#page_title {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;   
}

#page_content {
    width: 75%;
    margin: auto;
}

.login_element, .navigation_element {
    margin-top: 2rem;
}

img {
    display: block;
    margin:auto;
    border-radius: 0.5rem;
    filter: drop-shadow(0.25rem 0.25rem rgba(166, 152, 127, 0.46));
}

textarea {
    display: block;
    margin:auto;
    border-radius: 0.5rem;
    filter: drop-shadow(0.25rem 0.25rem rgba(166, 152, 127, 0.46));    
}

#drop_zone {
    display: block;
    margin:auto;
    border: 0.05rem solid gray;
    border-radius: 0.5rem;
}

input, button {
    display: block;
    width: 10rem;
    margin: auto;
    border-radius: 2rem;
    text-align: center;
    filter: drop-shadow(0.25rem 0.25rem rgba(166, 152, 127, 0.46));
}

.edit_button, .save_button, .delete_button {
    width: auto;
}

button:hover {
    cursor: pointer;
}

::placeholder {
    text-align: center; 
}

a {
    text-decoration: none;
}

table {
    width: 10rem;
    margin: auto;
}

/* styles for tablet devices (based on iPad air width) */
@media screen and (max-width: 360px) {
    
}